language: node_js
node_js:
  - 16

services:
  - docker

script:
  ## Build
  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker build -t udagram-api-user ./udagram-api-user
  - docker build -t udagram-frontend ./udagram-frontend
  - docker build -t reverseproxy ./reverseproxy

  ## Tagging
  - docker tag udagram-api-feed khongcon001/udagram-api-feed:v1
  - docker tag udagram-api-user khongcon001/udagram-api-user:v1
  - docker tag udagram-frontend khongcon001/udagram-frontend:v1
  - docker tag reverseproxy khongcon001/reverseproxy:v1

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push khongcon001/udagram-api-feed:v1
  - docker push khongcon001/udagram-api-user:v1
  - docker push khongcon001/udagram-frontend:v1
  - docker push khongcon001/reverseproxy:v1
